[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = teruko9126
	email = 59426406+teruko9126@users.noreply.github.com
[core]
	autocrlf = input
